h1 {color: white;
    text-align: center;
        color:white; 
}
h2 { color:white; 
    text-align: center;
}
body {background-color: red; }
p {text-align: center;
    color:white
}
IMG.displayed {
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}
    